<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/createSite.css">
    <title>create</title>
  </head>
  <body>
    <base target="_self">
    <h3>ПАСПОРТ</h3>
    <div class="create">
      <form method="POST">
        <label for="serialnum">Серия, номер</label><br>
        <input id="serialnum" type="text" name="serialnum"><br>
        <label for="date">Когда выдан</label><br>
        <input id="date" type="text" name="date"><br>
        <label for="whom">Кем выдан</label><br>
        <input id="whom" type="text" name="whom"><br>
        <label for="code">Код подразделения</label><br>
        <input id="code" type="text" name="code"><br>
        <br>
        <input id="button" type="submit">
      </form>
    </div> 
  </div>
  <div class="top">
    <a href="http://localhost:8686/home">🏠</a>
  </div>
  </body>
</html>