<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/createSite.css">
    <title>create</title>
  </head>
  <body>
    <base target="_self">
    <h3>Add site</h3>
    <div class="create">
      <form method="POST">
        <label for="name">Site name</label><br>
        <input id="name" type="text" name="name"><br>
        <label for="login">Login</label><br>
        <input id="login" type="text" name="login"><br>
        <label for="pass">Password</label><br>
        <input id="pass" type="text" name="pass"><br>
        <label for="link">Web link</label><br>
        <input id="link" type="text" name="link"><br>
        <br>
        <input id="button" type="submit">
      </form>
    </div> 
  </div>
  <div class="top">
    <a href="http://localhost:8686/home">🏠</a>
  </div>
  </body>
</html>