<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/createSite.css">
    <title>create</title>
  </head>
  <body>
    <base target="_self">
    <h3>Add doc</h3>
    <div class="create">
      <form method="POST">
        <label for="name">Name </label><br>
        <input id="name" type="text" name="name"><br>
        <label for="value">Value</label><br>
        <input id="value" type="text" name="value"><br>
        <br>
        <input id="button" type="submit">
      </form>
    </div> 
  </div>
  <div class="top">
    <a href="http://localhost:8686/home">🏠</a>
  </div>
  </body>
</html>