<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="31">
    <link rel="stylesheet" type="text/css" href="static/oneSite.css">
    <title>delete card</title>
  </head>
  <body>
    <base target="_self">
    <div class="del">
      <p>{{ . }} was removed from DB</p>
    </div>
    <br>
    <div id="delete">
      <a href="http://localhost:8686/sites">✔</a>
    </div>
  <div class="top">
    <a href="http://localhost:8686/home">🏠</a>
  </div>
  </body>
</html>
