<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <title>Wallx</title>
  </head>
  <body>
    <base target="_self">
    <h1>WALLX</h1>
    <br>
    <div class="choice">
        <div class="chapter">
            <a href="http://localhost:8686/sites">SITES</a>
        </div>
        <div class="chapter">
            <a href="http://localhost:8686/cards">CARDS</a>
        </div>
        <div class="chapter">
            <a href="http://localhost:8686/docs">DOCS</a>
        </div>
        <div class="chapter">
            <a href="http://localhost:8686/passrf">PASSW</a>
        </div>
  </div>
  <div id="utils">
    <p> <a href="http://localhost:8686/backup">Backup database</a></p>
    <br>
    <p> <a href="http://localhost:8686/recode">Change password</a></p>
  </div>
  <div class="top">
    <a href="http://localhost:8686/exit">&#10145;</a>
  </div>
  </body>
</html>