<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="33">
    <link rel="stylesheet" type="text/css" href="static/oneSite.css">
    <title>site</title>
    
<script type="text/javascript">
      function cpLog() {
        var cpl = document.getElementById("log");
        cpl.select();
       // cpl.setSelectionRange(0, 9999);
        document.execCommand("copy");
        
      }
    document.querySelector("#cpl").AddEventListener("click", cpLog);
    
      function cpPas() {
        var cpp = document.getElementById("pas");
        cpp.select();
       // cpp.setSelectionRange(0, 9999);
        document.execCommand("copy");
        
      }
    document.querySelector("#cpp").AddEventListener("click", cpPas);
    </script>
  </head>
  <body>
    <base target="_self">
    <div class="site">
    <h4>{{ .Name }}</h4>
    <input type="text" id="log" value={{ .Login }}><button id="cpl" onclick="cpLog()">☰</button>
    <br>
    <input type="text" id="pas" value={{ .Pass }}><button id="cpp" onclick="cpPas()">☰</button>
    <br><br>
    <a href={{ .Link }}>VISIT</a>
    </div>
    <div id="delete">
        <a href='http://localhost:8686/deleteSite?name={{ .Name }}"'>x</a>    
    </div>
  </div>
  <div class="top">
    <a href="http://localhost:8686/home">🏠</a>
  </div>
  </body>
</html>